.navbar .logo img {
    height: 60px;
    width: 60px;
}

.navbar {
    display: flex;
}

.information img {
    width: 100px;
    height: 100px;
}

.hero .image img {
    width: 400px;
    height: 300px;
}